.player {
  max-width: 750px;
  margin: 50px auto;
  border: 5px solid #333;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.player__video {
  width: 100%;
  max-height: 400px;
}

.player__controls {
  display: flex;
  flex-wrap: wrap;
  background: #222;
  color: white;
  padding: 10px;
  align-items: center;
}

.progress {
  flex: 1;
  background: #555;
  height: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.progress__filled {
  width: 0%;
  background: #ffc600;
  height: 100%;
  transition: width 0.1s;
}

.player__button,
.skip-button {
  background: none;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
}

input[type="range"] {
  margin: 0 10px;
}

label {
  margin-right: 5px;
}
